:root {
  --color-lightergray: #eeeef7;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
  --p-color:#a2c8ce;
  --contents-left-margin: 15px;
}
* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--color-lightergray);

}
/* HEADER / NAV BAR STYLES START */
header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  list-style: none;
  background-color: gray;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  background-color: darkgray;
  padding: 5px 15px 5px 40px 
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav li a:hover {
  background: black;
  border-radius: 15px;
  text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */


.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.hero img{
  border: 2px solid black;
  border-radius:50%;
  margin: 15px 40px;
}
.hero h2{
  color: white;
  font-size: 5vw;
}

.contents {
  width: 90%;
  display: flex;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title{
  text-align: right;
  font-size: 46px;
  flex:1 20%;
  padding-right: 30px;
  border-right: 3px solid black;
  color: var(--secondary-color);
}

.contents-info{
  flex:1 80%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 var(--contents-left-margin);
}

.contents-info a{
  text-decoration: none;
  border-bottom: 3px solid var(--p-color);
  color: black;
  font-weight: 500;
}
.work-projects-grid-wrapper {
  flex:2 80%;
}
.work-projects-grid-item p {
  background-color:var(--p-color);
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
span {
  font-size: 25px;
  font-weight: bold;
}

.work-projects-grid-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 5px solid rgba(162, 200, 206, 0.2);
  border-radius: 5px;
  font-size: 35px;
}
.work-projects-grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin-left: var(--contents-left-margin);
}

.runbuddy {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url("../images/runbuddy.PNG");
  background-size: 100% 100%;
}
.google {
  background-image: url("../images/google.PNG");
  background-size: 100% 100%;
}
.leetcode {
  background-image: url("../images/leetcode.PNG");
  background-size: 100% 100%;
}
.youtube {
  background-image: url("../images/youtube.PNG");
  background-size: 100% 100%;
}
.facebook {
  background-image: url("../images/facebook.PNG");
  background-size: 100% 100%;
}